@media screen {
	body	{ font-family: "Lucida Grande", "Helvetica Neue", "verdana", sans-serif; }
}

@media print {
	body	{ font-family: "palatino", serif; }
}

body	{ font-size:16px; }
a { color: #327CCB; }
h1 a, h2 a, h3 a	{ color: black; text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover	{ color: #327CCB; }
h1	{ font-size: 1.3em; margin-top:3.5ex; margin-bottom:1ex; }
h2	{ font-size: 1.1em; margin-top:2.5ex; margin-bottom:0.67ex; }
h3,h4,h5,h6	{ font-size: 1.0em; margin-top:1ex; margin-bottom:0.33ex; }

html, body	{ min-height: 100%; margin: 0; padding: 0; }
html	{ height: 100%; overflow-y: scroll; }
body	{ color:#333; margin: 0 auto 0; padding-left:40px; padding-right:40px; padding-bottom:4ex; max-width:50em; line-height:1.4; }

body > code > pre	{ background-color:#f8f8f8; }
body > code > pre,
body > pre	{ padding: 1.5em; border: 1pt solid rgb(200, 200, 200); border-radius:2px; }
pre	{ white-space: pre-wrap; }
dt	{ font-weight:bold; }
dd	{ margin-bottom:1ex; }

.crumbs { font-size:0.8em; border-bottom: 1px dashed #ccc; line-height:2; }
.crumbs .last { text-decoration:none; font-weight:bold; color:#333; }

.tocbar		{ text-align:center; margin-top:2ex; color:#ccc; }
.tocbar a	{ padding:0 0.25em; }
.tocbar .active	{ font-weight:bold; }

.warning	{ margin-top:2em; padding:1em; border:1px solid red; }
.table-jsondescr td	{ padding-left:0.5em; padding-right:0.5em; vertical-align:top; }
